@import "base.less";
@import "colors.less";
@import "animation.less";

.fight-graphics {
    .swatch;
    padding: 0;

    width: @combatwidth;
    height: @screenheight;

    display: inline-block;
    vertical-align: top;
}

.combat {
    display: inline-block;
}

.exercise-view {
    .swatch;
    width: @screenwidth - @combatwidth;
    max-width: @screenwidth - @combatwidth;
    height: @exerciseheight;
    max-height: @exerciseheight;
    overflow: auto;
}

.buttons-area {
    padding: 0 20px;
    .retreat {
        float: left;
    }
    .cast {
        float: right;
    }

    .retreat, .cast {
        display: inline-block;

        &.shake {
            &:hover {
                -webkit-animation-name: shake;
                -webkit-animation-duration: 0.8s;
                -webkit-transform-origin:50% 50%;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
            }
        }

        &.stutter {
            -webkit-animation: stutter .5s linear;
        }

        &.glow {
            -webkit-animation: glow 1s linear;
        }
    }
}


@monstersize: 144px;
@centerline: 40px;
@monstervangaurd: -10px;

.combat-background {
    height: 100%;
    position: relative;
    background-image: url(/static/img/forest.jpg);
    background-position-x: 1122px;
    background-position-y: -120px;

    .entity {
        .active-halo {
            position: absolute;
            left: 0;
            top: 30px;
        }

        &.selectable:hover {
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
        }

        position: absolute;

        &:nth-child(1) {
            bottom: @centerline;
            right: @monstervangaurd;
            z-index: 99;
        }
        &:nth-child(2) {
            bottom: @centerline;
            left: @monstervangaurd;
            z-index: 50;
        }
        &:nth-child(3) {
            bottom: @centerline - 50px;
            left: @monstervangaurd + 60px;
            transform: scale(1.1);
            z-index: 75;
        }
        &:nth-child(4) {
            bottom: @centerline + 50px;
            left: @monstervangaurd + 60px;
            z-index: 25;
            transform: scale(0.9);
        }

        .health-bar-container {
            position: absolute;
            bottom: 20px;

            left: 0;
            right: 0;
            margin: 0 auto;

            @height: 6px; // if you adjust this, adjust the .filled top
            @width: 70px;
            @borderSize: 1px;

            white-space: nowrap;
            height: @height;
            width: @width;

            &.full-health {
                visibility: hidden;
            }

            .health-bar {
                display: inline-block;
                position: absolute;

                border: @borderSize solid black;
                background-color: rgba(255, 255, 255, 0.3);

                width: @width;
                height: @height;

                .filled {
                    position: absolute;

                    display: inline-block;
                    height: @height - 2 * @borderSize;
                    background-color: #8a0000;
                    transition: width .5s ease-out;
                }
            }
            span {
                position: absolute;
                top: -8px; // TODO(dmnd): vertical-align?
                right: 70px;

                color: #fff;
                font-size: 10px;
                margin: 0 2px;
                line-height: 20px;
                text-shadow: #333 -1px -1px;
            }
        }
    }

}
