@import "base.less";
@import "kui/button.less";
@import "spellbook.less";
@import "combat.less";

* {
    box-sizing: border-box;
}

.debug-bar {
    background-color: #be9b9b;
}

div.row {
    margin: 0;
    position: relative;

    .row-item {
        position: absolute;
    }
}

.dialog-view {
    .stretch(@top: auto; @bottom: 30px);
    margin: 0 auto;
    width: 900px;
    height: 180px;
    padding: 35px;
    background-image: url(/static/img/scroll-h.png);
    z-index: 100; // ಠ_ಠ

    font-size: 150%;
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/proxima/Proxima-Nova-Regular.woff);
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/proxima/Proxima-Nova-Semibold.woff);
    font-weight: bold;
}

.screen-enter {
  opacity: 0.00;
  transition: opacity .2s ease-in 0.2s;
}

.screen-enter.screen-enter-active {
  opacity: 1;
}

.screen-leave {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.screen-leave.screen-leave-active {
  opacity: 0.01;
}
