@import "spellbook.less";

.debug-bar {
    background-color: #be9b9b;
}

div.row {
    margin: 0;
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/proxima/Proxima-Nova-Regular.woff);
}

@font-face {
    font-family: Proxima;
    src: url(../fonts/proxima/Proxima-Nova-Semibold.woff);
    font-weight: bold;
}
