@import "colors.less";

.spellbook {
    .spell-badge {
        display: inline-block;
        margin: 5px 10px;

        &.ice {
            box-shadow: 0 0 8px 1px @ice;
        }

        &.fire {
            box-shadow: 0 0 8px 1px @fire;
        }
    }
}
