@import "colors.less";

.spellbook {
}

.spell-badge {
    margin-bottom: 10px;

    .spell-badge-icon {
        display: inline-block;
        margin: 5px 10px;

        &.ice {
            box-shadow: 0 0 8px 1px @ice;
        }

        &.fire {
            box-shadow: 0 0 8px 1px @fire;
        }
    }

    &:hover {
        color: grey;
    }

    &.selected {
        color: grey;
    }
}
